body {
    background-color: lightsteelblue;
}

#section-1 {
    text-align: center;
}

#div-nome {
    background-color: darkslategrey;
}

#Sobre {
    background-color: darkcyan;
    border-style: solid;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}